@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}

/* header */
header {
  background-color: #041A31;
  a{
    font-weight: bold;
    color: #fff;
  }
}

#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}
#logo:hover {
color: #fff;
text-decoration: none;
}


/* footer */
footer {
  background-color: #041A31;
  margin-top:  45px;
  padding-top: 12px;
  a{
    font-weight: bold;
    color: #FFF;
  }
  a:hover {
  color: #fff;
  text-decoration: underline;
  }
}
