<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <nav>
      <ul class="center">
        <li><%= link_to "企業ログイン" , company_user_session_path %></li>
      </ul>
    </nav>
  </div>
</footer>
